/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import 'react-toastify/dist/ReactToastify.min.css';
.orbitron-style {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.passion-one-regular {
  font-family: 'Passion One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: 'Passion One', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.passion-one-black {
  font-family: 'Passion One', sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ROOT VALUES */
:root {
  /* colors */
  --blue-000: #d5f4ff;
  --blue-50: #c7e2ff;

  --blue-100: #0443e1;
  --blue-200: #1f274c;
  --blue-300: #1a2247;
  --blue-400: #21243a;
  --blue-500: #000934;
  --blue-600: #2b3d69;

  /*primary */
  --primary-0: #ecfefb;
  --primary-000: #00ffdd;
  --primary-100: #06cdb3;
  --primary-200: #04a28e;
  --primary-300: #046f61;
  --primary-400: #027d60;
  --primary-500: #01634c;

  /* greys */
  --grey-25: #f5f5f5;
  --grey-50: #ebecf0;
  --grey-100: #e1e3e9;
  --grey-200: #a1a5ae;
  --grey-300: #63666c;
  --grey-400: #4c4f53;
  --grey-500: #323437;
  --grey-900: #1c1c1c;

  /* reds & errors */
  --red-000: #ffe5e4;
  --red-100: #ac000e;

  /* dimensions */
  --nav-height: 60px;
  --fs-100: clamp(2rem, 5vw, 5rem);
  --fs-200: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
  --fs-300: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
  --fs-400: clamp(1rem, 2vw, 2rem); /* Extra small heading */
  --fs-500: clamp(0.75rem, 0.75vw, 1.5rem); /* Tiny heading */

  /* border radii */
  --round-sm: 5px;
  --round-md: 10px;
  --round-lg: 25px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --toastify-color-success: var(--primary-300);
  --toastify-color-progress-bgo: var(--primary-300);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.Toastify__toast-body {
  --toastify-color-progress-info: var(--toastify-color-success);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-success);
  --toastify-color-progress-error: var(--toastify-color-success);
}

.logo-container {
  display: flex;
  align-items: center;
}

.submit-btn {
  width: 100%;
  border-radius: var(--round-sm);
  border: none;
  outline: none;
  background: var(--primary-300);
  color: white;
  font-size: 1.15em;
  font-weight: 500;
  cursor: pointer;
  max-width: 300px;
  max-height: 40px;
  transition: all 0.2s ease;
}

.submit-btn:hover {
  background: var(--primary-200);
}

.submit-btn.disabled {
  background: var(--grey-200);
  /* color: var(--blue-500); */
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

@keyframes smooth-appear {
  to {
    bottom: 20px;
    opacity: 1;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.add {
  text-decoration: none;

  width: fit-content;
  padding: 5px 10px;
  border-radius: var(--round-sm);
  border: none;
  outline: none;
  text-transform: capitalize;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2 ease;
  background: #0079ff;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 90%,
    from(#2790ff),
    to(#017aff)
  );
  background: -webkit-linear-gradient(
    0% 0%,
    0% 90%,
    from(#2790ff),
    to(#017aff)
  );
  background: -moz-linear-gradient(center top, #2790ff, #017aff);
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
  &:disabled {
    background: var(--grey-200);
    /* color: var(--blue-500); */
    cursor: not-allowed;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 3rem;
  height: 3rem;
  border: 5px solid var(--grey-100);
  border-radius: 50%;
  border-top-color: var(--grey-200);
  animation: spinner 1s linear infinite;
}

.hidden {
  display: none;
}
